.carousel {
    padding: 40px 100px;
    margin: 30px 100px;
}

.heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: var(--text-main);
}

.left { min-width: 200px; }
.left h2 { font-size: 1.5rem; margin-bottom: 8px; }
.left a {  color: var(--text-sub); font-size: 0.95rem; text-decoration: none; }
.left a:hover { text-decoration: underline; }

.wrapper{
    position: relative;
    display: flex;
    margin-left: 15.8vw;
    align-items: center;
}

.navBtn {
    background-color:transparent;
    border: none;
    font-size: 30px;
    padding: 5px 10px;
    margin: 0 0 75px 0;
    cursor: pointer;
    /*border-radius: 50%;*/
    position: relative;
    z-index: 1;
    color: var(--text-main);
}

.bookList {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    cursor: pointer;
}

.bookList::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.bookItem {
    min-width: 150px;
    max-width: 150px;
    text-align: left;
}

.bookImage {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.bookTitle {
    margin-top: 8px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--text-main);
}

.bookAuthor {
    margin-top: 4px;
    font-size: 0.85rem;
    color: var(--text-sub);
}

@media (max-width: 768px) {
    .carousel {
        padding: 30px 16px 40px;
        margin: 0 0;
    }

    .heading {
        font-size: 1.2rem;
        text-align: center;
    }

    .left { text-align: center; }
    .left h2 { margin-bottom: 0;}
    .left a { padding: 0 0 10px 0; }

    .wrapper{
        position: relative;
        display: flex;
        margin: 0px;
        align-items: center;
    }

    .navBtn {
        display: none;
    }

    .bookList {
        gap: 16px;
        margin: 10px 0 0 5px;
    }

    .bookItem {
        min-width: 120px;
        max-width: 120px;
    }

    .bookTitle {
        font-size: 0.85rem;
    }

    .bookAuthor {
        font-size: 0.75rem;
    }
}