.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-main);
}

.label {
    font-size: 0.9rem;
    color: var(--text-main);
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    color: var(--text-main);
}

.saveBtn {
    width: 100%;
    padding: 14px;
    border: 1px solid var(--copy-border);
    background-color: var(--white);
    border-radius: 6px;
    cursor: pointer;
    color: var(--text-main);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s;
}

@media (min-width: 768px) {
    .container {
        padding: 60px 40px 120px;
    }

    .saveBtn {
        max-width: 400px;
        margin: 0 auto;
    }
}
